doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    title #{title}
  body


    div.content-wrapper
      div#page-content.page
        //- div.ronds-left.ronds
        //-   div.rond-haut
        //-   div.rond-bas
        div.page-wrapper
          div.left
            div(class='text-content' data-index='#{longIndex}') 
              != longFile
          div.right
            div.image-wrapper
              div(class='image-content' data-index='#{imageIndex}')
                img(src= 'images/#{imageFile}')
            div(class='small-text-content' data-index='#{shortIndex}') 
              != shortFile
        //- div.ronds-right.ronds
        //-   div.rond-haut
        //-   div.rond-bas
      //- div#page-content.page.row
      //-     div.cell
      //-     div.cell
      //-     div.cell
      //-     div.cell


    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/foundation/js/foundation.min.js')
    script(src='/bower_components/showdown/dist/showdown.min.js')
    script(src='/js/index.js')


